*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --clr-pink: hsl(322, 100%, 66%);
  --clr-pink-active: hwb(322 32% 0% / 0.8);
  --clr-white: hsl(0, 0%, 100%);
  --clr-pale-cyan: hsl(193, 100%, 96%);
  --clr-dark-cyan: hsl(192, 100%, 9%);
  --grayish-blue: hsl(208, 11%, 55%);
  --ff-title: "Poppins", sans-serif;
  --ff-content: "Open Sans", sans-serif;
  --fw-bold: 700;
  --fw-semibold: 600;
  --fw-regular: 400;
  /* Padding */

  --padding-d-xl-h: calc(2rem + 15.625vw);

  --padding-d-lc-h: calc(2rem + 7.8vw);

  --padding-d-l-h: calc(2rem + 5.935vw);
  --padding-d-l-v: calc(2rem + 15.609vh);

  --padding-d-mc-h: calc(1rem + 4.865vw);
  --padding-d-mc-v: calc(1rem + 4.168vh);

  --padding-d-mcc-v: calc(1rem + 6rem);

  --padding-d-m-h: calc(1rem + 2vw);
  --padding-d-m-v: calc(1rem + 2vh);

  --padding-d-s-h: calc(1rem + 1vw);
  --padding-d-s-v: calc(1rem + 1.2vh);

  --padding-d-xs-h: calc(1rem + 0.5vw);
  --padding-d-xs-v: calc(1rem + 0.4vh);

  --padding-st-l-h: 3rem;
  --padding-st-l-v: 2rem;

  --padding-st-m-h: 2.5rem;
  --padding-st-m-v: 1.5rem;

  --padding-st-s-h: 2rem;
  --padding-st-s-v: 1rem;

  --padding-st-xs-h: 1rem;
  --padding-st-xs-v: 0.5rem;

  /* Font Size */
  --font-size-d-lc: calc(3rem + 3.5vw);
  --font-size-d-l: calc(2rem + 3vw);
  --font-size-d-mc: calc(2rem + 2.5vw);
  --font-size-d-m: calc(1rem + 2vw);
  --font-size-d-mt: calc(1rem + 1.589vw);
  --font-size-d-sc: calc(1rem + 1.5vw);
  --font-size-d-scp: calc(1rem + 0.938vw);

  --font-size-d-s: calc(1rem + 0.42vw);
  --font-size-d-xs: calc(1rem + 0.21vw);

  --font-size-st-xl: 4rem;
  --font-size-st-lc: 3.5rem;
  --font-size-st-l: 3rem;
  --font-size-st-mc: 2.5rem;
  --font-size-st-m: 2rem;
  --font-size-st-sc: 1.4rem;
  --font-size-st-s: 1rem;
  --font-size-st-xs: 0.5rem;
}

body {
  font-size: 1.8rem;
  font-family: var(--ff-content);
  color: var(--clr-dark-cyan);
  line-height: 2.8rem;
  font-weight: var(--fw-regular);
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #000;
}
li {
  list-style: none;
}
.section__padding {
  padding: var(--padding-d-l-v) var(--padding-d-l-h);
}

.section__title {
  font-size: var(--font-size-d-sc);
  font-weight: var(--fw-semibold);
}
.section__para {
  font-size: var(--font-size-st-sc);
  color: var(--clr-dark-cyan);
}
.sec-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.container {
  display: grid;
  grid-template-columns: [container-start]repeat(12, minmax(min-content, 12rem)) [container-end];

  justify-content: center;
}
.layout {
  grid-column: container-start/container-end;
}
.header {
  background-color: var(--clr-pale-cyan);
  background-image: url("../images/bg-hero-desktop.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center top;
  padding: var(--padding-d-mc-v) var(--padding-d-mc-h);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 2rem;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav--logo {
  width: 24rem;
}
.header__nav--logo img {
  width: 75%;
  height: 75%;
  object-fit: cover;
}
.header__nav--cta {
  padding: var(--padding-st-xs-v) var(--padding-d-m-h);
  background-color: white;
  border: 1px solid transparent;
  box-shadow: 0 0 3px -1px var(--clr-dark-cyan);
  font-size: var(--font-size-d-xs);
  border-radius: 99rem;
  color: var(--clr-dark-cyan);
  font-family: var(--ff-content);
  font-weight: var(--fw-bold);
  transition: all 0.5s ease-in-out;
}
.header__nav--cta:hover {
  background-color: var(--clr-dark-cyan);
  color: var(--clr-pale-cyan);
}
.header__hero {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-d-mc-v) 0;
  column-gap: 3rem;
}
.header__hero--content {
  flex: 0 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 2rem;
}
.header__hero--content__title {
  font-size: var(--font-size-d-mt);
  line-height: 5rem;
  font-weight: var(--fw-semibold);
  font-family: var(--ff-title);
}
.header__hero--content__details {
  font-size: var(--font-size-d-s);
}
.header__hero--content__btn {
  padding: var(--padding-d-xs-v) var(--padding-d-m-h);
  background-color: var(--clr-pink);
  box-shadow: 0 0 3px -1px var(--clr-dark-cyan);
  border-radius: 99rem;
  font-size: var(--font-size-d-s);
  font-weight: var(--fw-semibold);
  color: var(--clr-white);
  transition: all 0.5s ease-in-out;
}
.header__hero--content__btn:hover {
  background-color: var(--clr-pink-active);
}

.header__hero--img {
  flex: 0 50%;
}
.header__hero--img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.features {
  padding: var(--padding-d-l-v) var(--padding-d-lc-h);
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 4rem;
}
.features__feature {
  border: 1px solid transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 1rem;
  justify-content: space-between;
  box-shadow: 0 0 3px -1px var(--clr-dark-cyan);

  column-gap: 2rem;
  padding: var(--padding-d-mc-v) var(--padding-d-xs-h) var(--padding-d-mc-v)
    var(--padding-d-lc-h);
}
.features__feature:nth-child(2) {
  flex-direction: row-reverse;
}
.features__feature--content {
  flex: 0 50%;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.features__feature--content__title {
  font-size: var(--font-size-d-scp);
  font-weight: var(--fw-bold);
  font-family: var(--ff-title);
}
.features__feature--content__details {
  font-size: var(--font-size-d-s);
  font-family: var(--ff-content);
  color: var(--grayish-blue);
}
.features__feature--img {
  flex: 0 50%;
}
.features__feature--img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cta {
  position: relative;
  padding: var(--padding-d-mc-v) var(--padding-d-xl-h);
}
.cta__card {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  background-color: var(--clr-white);
  position: absolute;

  padding: var(--padding-d-mcc-v) var(--padding-d-l-h) var(--padding-d-mcc-v)
    var(--padding-d-l-h);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 1rem;
  row-gap: 3rem;
  box-shadow: 0 0 3px -1px var(--clr-dark-cyan);
}
.cta__card--title {
  font-size: var(--font-size-d-scp);
  font-family: var(--ff-title);
}
.cta__card--btn {
  padding: var(--padding-d-xs-v) var(--padding-d-m-h);
  background-color: var(--clr-pink);
  box-shadow: 0 0 3px -1px var(--clr-dark-cyan);
  border-radius: 99rem;
  font-size: var(--font-size-d-s);
  font-weight: var(--fw-semibold);
  color: var(--clr-white);
  transition: all 0.5s ease-in-out;
}
.cta__card--btn:hover {
  background-color: var(--clr-pink-active);
}
.footer {
  background-color: var(--clr-dark-cyan);
  padding: var(--padding-d-mcc-v) var(--padding-d-mc-h) var(--padding-d-m-v);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}
.footer__img {
  filter: brightness(10%) invert(10);
  margin: 10rem 0 4rem;
}
.footer__links {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  column-gap: 4rem;
}

.footer__col:first-child {
  flex: 0 40%;
}
.footer__col {
  flex: 0 20%;
}
ul {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
li {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  color: var(--clr-pale-cyan);
  font-size: var(--font-size-d-s);
  line-height: 2.4rem;
}
.social__icons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.social__icons--icon {
  margin: 0 auto;
  font-size: var(--font-size-d-s);
  border: 1px solid;
  padding: 1rem;
  border-radius: 99rem;
  transition: all 0.3s ease-in-out;
}
.social__icons--icon:hover {
  background-color: var(--clr-pale-cyan);
  color: var(--clr-dark-cyan);
}
.copy-right {
  color: white;
  font-size: var(--font-size-d-xs);
  align-self: flex-end;
}
@media (max-width: 765px) {
  .header__hero {
    padding: var(--padding-d-xs-v) var(--padding-d-m-h);
    flex-direction: column;
    align-items: center;

    row-gap: 3rem;
  }
  .header__hero--content {
    text-align: center;
    align-items: center;
  }
  .header__hero--content__title {
    font-size: var(--font-size-d-mc);
  }
  .header__hero--content__details {
    font-size: var(--font-size-d-sc);
  }
  .header__hero--content__btn {
    align-self: center;
    padding: var(--padding-d-xs-v) var(--padding-d-mc-h);
  }
  .features {
    padding: var(--padding-d-mc-v) var(--padding-d-xs-h);
  }
  .features__feature {
    flex-direction: column;

    text-align: center;
    padding: var(--padding-d-xs-v);
  }
  .features__feature--content {
    row-gap: 1rem;
  }
  .features__feature--content__details {
    font-size: var(--font-size-d-s);
  }
  .features__feature--img {
    width: 75%;
    height: 75%;
  }
  .features__feature:nth-child(2) {
    flex-direction: column-reverse;
  }
  .cta {
    padding: var(--padding-d-mc-v);
  }
  .cta__card--title {
    font-size: var(--font-size-d-s);
  }
  .cta__card--btn {
    padding: var(--padding-d-xs-v) var(--padding-d-m-h);
    font-size: var(--font-size-d-xs);
  }

  .footer__img {
    margin-top: 10rem;
  }
  .footer__links {
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
  }

  .copy-right {
    align-self: start;
    margin-top: 2rem;
  }
}

.heartbeat {
  -webkit-animation: heartbeat 3s cubic-bezier(0.175, 0.885, 0.32, 1.275)
    infinite both;
  animation: heartbeat 3s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite both;
}
/* ----------------------------------------------
 * Generated by Animista on 2023-1-17 3:15:56
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
.jello-horizontal {
  -webkit-animation: jello-horizontal 10s both;
  animation: jello-horizontal 10s both;
}
/* ----------------------------------------------
 * Generated by Animista on 2023-1-17 3:24:36
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation jello-horizontal
 * ----------------------------------------
 */
@-webkit-keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
